ISIC_2020_Train_DICOM_corrected
myenv
ISIC_2020_Test_DICOM_corrected.zip
ISIC_2020_Training_GroundTruth_v2.csv
ISIC_2020_Test_DICOM_corrected.zip
ISIC_2020_Test_Metadata.cs
ISIC_2020_Training_GroundTruth_v2.csv
ISIC_2020_Training_GroundTruth.csv